{{!-- head --}}
{{>head}}

<body>
    <header>
        {{>header}}
        {{>navBar}}
    </header>
    
    {{!-- galeria imagenes almohadones
     --}}
    {{>cusionGallery}}

    {{>footer}}
</body>
    {{>scripts}}
</html>