

{{!-- head --}}
{{>head}}

 <style>
    body{
    background-image: none;
    background-color: white;
    }
    .UnderConsMainContainer{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .underCons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media (max-width: 400px){
        
       .underCons img {
           width: 220px;
           margin: 3rem;
       }
    }
    

    h2{
        text-align: center;
        margin:2rem;
        font-family: 'Ephesis', cursive;
        text-shadow: 2px 2px 8px rgb(255 132 204);
    }


</style> 

<body>
    <header>
        {{>header}}
        {{>navBar}}
    </header>
<h2>Oh! My Darling!</h2> 
    <div class="UnderConsMainContainer">
        <div class="underCons">
            <img src="./assets/underC.jpg" alt="underConstruction">
        </div>
    </div>

    {{>footer}}
</body>
    {{>scripts}}
</html>


