{{!-- head --}}
{{>head}}

<body>
    <header>
        {{>header}}
        {{>navBar}}
    </header>

        {{!-- agregamos el formulario --}}
        {{>contactForm}}
    
    {{>footer}}
</body>
    {{>scripts}}
</html>