{{!-- head --}}
{{>head}}

<body>
    <header>
        {{>header}}
        {{>navBar}}
    </header>
    
    {{!-- muñecas galeria --}}
    
    {{>dollsGallery}}

    {{>footer}}
</body>
    {{>scripts}}
</html>

