 <!--titulo carousel-->
        <div class="carousel-title">
            <h3>Galería de imágenes</h3>
        </div>
        <!-- carousel -->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <!-- imagen 1 -->
                <div class="carousel-item active">
                    <img src="./assets/IMG-20210928-WA0002.jpg" class="d-block w-100" alt="foto1">
                </div>
                <!-- imagen 2 -->
                <div class="carousel-item">
                    <img src="./assets/IMG-20210928-WA0003.jpg" class="d-block w-100" alt="foto2">
                </div>
                <!-- imagen 3 -->
                <div class="carousel-item">
                    <img src="./assets/IMG-20210928-WA0014.jpg" class="d-block w-100" alt="foto3">
                </div>
                <div class="carousel-item">
                    <img src="./assets/IMG-20210928-WA0011.jpg" class="d-block w-100" alt="foto4">
                </div>
                <div class="carousel-item">
                    <img src="./assets/IMG-20210928-WA0015.jpg"class="d-block w-100" alt="foto5">
                </div>
            </div>
            <!-- button previous-->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <!-- button next-->
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>