<!--titulo Galeria-->
        <div class="tituloGaleria">
            <h3>Almohadones</h3>
        </div>
        <!-- galeria de imagenes -->
        <div class="Gallery container-sm -md -lg -xl -xxl ">

            <!-- bloque de tres -->

            <div class="bloqueDtresImg row">

                <div class="imagenesGaleria col-12 col-sm-12 col-md-4 col-xl-4">
                    <img src="./assets/gorjusscusion.jpeg" alt="imagen1">
                    <div class="picTitle">
                        <p>Gorjuss</p>
                    </div>
                </div>
                <div class="imagenesGaleria col-12 col-sm-12 col-md-4 col-xl-4">
                    <img src="./assets/IMG-20210928-WA0002.jpg" alt="imagen2">
                    <div class="picTitle">
                        <p>Goku</p>
                    </div>
                </div>
                <div class="imagenesGaleria col-12 col-sm-12 col-md-4 col-xl-4">
                    <img src="./assets/IMG-20210928-WA0003.jpg" alt="imagen3">
                    <div class="picTitle">
                        <p>Taza</p>
                    </div>
                </div>
            </div>

            <!-- bloque de tres -->


            <div class="bloqueDtresImg row">
                <div class="imagenesGaleria col-12 col-sm-12 col-md-4 col-xl-4">
                    <img src="./assets/IMG-20210928-WA0004.jpg" alt="imagen4">
                    <div class="picTitle">
                        <p>Personajes</p>
                    </div>
                </div>
                <div class="imagenesGaleria col-12 col-sm-12 col-md-4 col-xl-4">
                    <img src="./assets/IMG-20210928-WA0006.jpg" alt="imagen5">
                    <div class="picTitle">
                        <p>Unicornio</p>
                    </div>
                </div>
                <div class="imagenesGaleria col-12 col-sm-12 col-md-4 col-xl-4">
                    <img src="./assets/IMG-20210928-WA0007.jpg" alt="imagen6">
                    <div class="picTitle">
                        <p>Envoltorio</p>
                    </div>
                </div>
            </div>

            <!-- bloque de tres -->

            <div class="bloqueDtresImg row">
                <div class="imagenesGaleria col-12 col-sm-12 col-md-4 col-xl-4">
                    <img src="./assets/IMG-20210928-WA0009.jpg" alt="imagen7">
                    <div class="picTitle">
                        <p>Goku II</p>
                    </div>
                </div>
                <div class="imagenesGaleria col-12 col-sm-12 col-md-4 col-xl-4">
                    <img src="./assets/IMG-20210928-WA0010.jpg" alt="imagen8">
                    <div class="picTitle">
                        <p>Personajes II</p>
                    </div>
                </div>
                <div class="imagenesGaleria col-12 col-sm-12 col-md-4 col-xl-4">
                    <img src="./assets/IMG-20210928-WA0015.jpg" alt="imagen9">
                    <div class="picTitle">
                        <p>Personajes III</p>
                    </div>
                </div>
            </div>
        </div>