
    <footer class="footer myFooter">
        <div class="container">
            <span class="text-muted">Cosas Lindas Copyright ©.</span>
        </div>
        <div class="btnFooter">
            <button class="btn btn-outline-secondary"><a href="/">Home</a></button>
        </div>
        
    </footer>